h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}
.input-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.stages-container {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .input-form {
    display: flex;
    flex-direction: column;
  }
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .stages-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
